/* google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    list-style: none;
    transition: .3s;
}
:root{
    --yellow:#F5BA24;
    --gray:#969696;
    --green:#13C693;
    --black:#121212;
    --marron:#C80429;
    --white:#fefefe;

    /* tambahan color font untuk dark mode */
    --gray-white:#D9D8D6;
}

.container{
    padding: 1.5rem 3rem;
    width: 100%;
    height: 100%;
    background-color: var(--white);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-around;
    gap: 2.5rem;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--gray);
}
nav ul li a span{
    color: var(--green);
    font-weight: 500;
}
.logo{
    color: var(--green);
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
}
.button-theme{
    width: 75px;
    height: 30px;
    background-color: var(--green);
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.btn-slider{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--black);
    transform: translateX(5px);
}
/* btn active */
.button-theme.active{
    background-color: var(--gray-white);
    transition: .3s;
}
.btn-slider.active{
    background-color: var(--green);
    transform: translateX(48px);
    transition: .3s;
}

/* dark theme */
body.dark .container{
    background-color: var(--black);
    transition: .3s;
}

body.dark ul li a{
    color: #f1f5f9;
}
