/* google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    list-style: none;
    transition: .3s;
}
:root{
    --yellow:#F5BA24;
    --gray:#969696;
    --green:#13C693;
    --black:#121212;
    --marron:#C80429;
    --white:#fefefe;
    --purple:#6d28d9;
    /* tambahan color font untuk dark mode */
    --gray-white:#D9D8D6;
}

body{
    overflow-x: hidden;
}

.container{
    width: 86%;
    margin: auto;
}
nav{
    /* padding: 1.5rem; */
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}
nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--gray);
}
nav ul li a span{
    color: var(--green);
    font-weight: 500;
}
.logo{
    color: var(--green);
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 0px;
    /* font-size: 20px;/ */
    cursor: pointer;
}
.button-theme{
    width: 65px;
    height: 25px;
    background-color: var(--green);
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.btn-slider{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--black);
    transform: translateX(5px);
}
/* btn active */
.button-theme.active{
    background-color: var(--gray-white);
    transition: .3s;
}
.btn-slider.active{
    background-color: var(--green);
    transform: translateX(42px);
    transition: .3s;
}

.hero {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.main-tulisan{
    width: 50%;
}

.main-tulisan h3{
    font-size: 3rem;
    margin-bottom: -15px;
    color: var(--black);
}

.main-tulisan h2{
    font-size: 4rem;
    color: var(--black);
}

.main-gambar{
    width: 50%;
    display: flex;
    justify-content: center;
}

.gambar{
    width: 330px;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 2rem;

}

.gambar img{
    width: 100%;
    height: 100%;
    margin-bottom: 28px;
}

/* dark theme */
body.dark .toggle2 span{
    background-color: var(--white);
}

body.dark{
    background-color: var(--black);
    transition: .3s;
}

body.dark ul li a{
    color: #f1f5f9;
}
.box{
    margin-top: 5rem;
    width: 25.25rem;
    height: 28rem;
    background-color: var(--green);
    border-radius: 25px;
    position: relative;
}

.main-tulisan h3{
    font-size: 3rem;

}
.main-tulisan h2{
    font-size: 3.25rem;
    margin-bottom: 1.875rem;
}
.main-tulisan h5{
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 1.875rem;
}
.cta{
    display: flex;
    justify-content: start;
    gap: 2rem;
}
.btn{
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem 1.25rem;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: #ffff;
}
.btn.btn-join{
    background-color: var(--black);
    
}
.btn.btn-view{
    background-color: var(--green);

}
.btn.btn-join:hover{
    background-color: #000000;
}
.btn.btn-view:hover{
    background-color: #0c8a66;
}
body.dark .main-tulisan h3,
body.dark .main-tulisan h2,
body.dark .main-tulisan h5{
    color: #ffff;
} 
body.dark .cta .btn.btn-join{
    background-color: #232325;
}

/* toggle navbar */
.toggle {
    display: none;
    z-index: 100;
}

.toggle2 {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    cursor: pointer;
    z-index: 100;
}

.toggle2.tod span{
    background-color: #f1f5f9;
}

.toggle2 span {
    width: 28px;
    height: 3px;
    background-color: rgb(22, 21, 21);
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.toggle2 span:first-child {
    transform-origin: 0 0;
}

.toggle2 span:last-child {
    transform-origin: 0 100%;
}

.toggle2 span.scale {
    transform: scale(0);
}

.toggle2 span.silang1 {
    transform: rotate(45deg) translate(-1px, 0px);
}

.toggle2 span.silang2 {
    transform: rotate(-45deg) translate(-2px, -1px);
}
/* end */


/* responsive */

@media screen and (max-width: 576px) {
    .container{
        width: 95%;
    }

    
    nav ul{
        width: 50%;
        position: absolute;
        height: 100vh;
        top: 0;
        bottom: 0;
        right: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgba(5, 5, 5, .8);
        z-index: 99;
        transition: all .5s ease-in-out;
        opacity: 0;
    }

    nav ul li a {
        font-size: 1.5em;
        font-weight: 800;
    }

    nav ul.slide {
        opacity: 1;
        right: 0px;
    }

    nav {
        justify-content: space-between;
    }

    .toggle {
        display: flex;
        padding: 0px 20px;
    }

    .toggle2 {
        display: flex;
    }

    .hero {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 400px;
    }

    .main-tulisan{
        width: 100%;
        margin-top: 4rem;
        order: 2;
    }

    .main-tulisan h3{
        font-size: 3rem;
    }

    .main-tulisan h2{
        font-size: 2.8rem;
        margin-bottom: 1rem;
    }
    .main-tulisan h5{
        
        font-size: 1.1rem;
    }
    .main-gambar{
        width: 90%;
        /* height: 300px; */
        order: 1;
    }



}
@media screen and (min-width:1440px) {
    .container{
        width: 1440px;
        padding: 0 6rem;
    }
}